In [0]:
import pandas as pd
import numpy as np

In [0]:
df_sheet = pd.read_excel('Copy of MVA Docket UP - Feb 2020(latest).xlsx',sheet_name='Sheet1')    #### load raw data here

In [10]:
df_sheet.columns

Index(['Category', 'Fact', 'Market', 'Product', 'JAN18', 'FEB18', 'MAR18',
       'APR18', 'MAY18', 'JUN18', 'JUL18', 'AUG18', 'SEP18', 'OCT18', 'NOV18',
       'DEC18', 'JAN19', 'FEB19', 'MAR19', 'APR19', 'MAY19', 'JUN19', 'JUL19',
       'AUG19', 'SEP19', 'OCT19', 'NOV19', 'DEC19', 'JAN20', 'FEB20'],
      dtype='object')

In [11]:
df_sheet = pd.melt(df_sheet, id_vars = ['Category', 'Fact','Market','Product'], var_name='Month')
df_sheet

       Category               Fact Market      Product  Month          value
0      Core SPK  Sales Value (000)     UP     Core SPK  JAN18  762068.245491
1      Core SPK  Sales Value (000)     UP      CCI SPK  JAN18  417270.200622
2      Core SPK  Sales Value (000)     UP         Coke  JAN18   19150.585905
3      Core SPK  Sales Value (000)     UP           TU  JAN18  164699.270921
4      Core SPK  Sales Value (000)     UP       Sprite  JAN18  122109.064484
...         ...                ...    ...          ...    ...            ...
14867  Core SPK               OOS%     UP       SPRITE  FEB20       9.313940
14868  Core SPK               OOS%     UP        LIMCA  FEB20       8.345084
14869  Core SPK               OOS%     UP        FANTA  FEB20       9.148822
14870    Juices               OOS%     UP        Maaza  FEB20      10.914564
14871    Juices               OOS%     UP  MINUTE MAID  FEB20      12.866841

[14872 rows x 6 columns]

In [0]:
df_sheet.to_excel('MVA_Docket_UP_Unpivot_file_feb_2020.xlsx',index=False)

In [0]:
df = pd.ExcelFile('/content/2020_01 By Brand数表 (2014～).xlsx')
sheetnames = df.sheet_names
sheetnames

['Sparkling(Volume)',
 'Sparkling (Value)',
 'Coffee(Volume)',
 'Coffee (Value)',
 'Juice(Volume)',
 'Juice (Value)',
 'Tea(Volume)',
 'Tea (Value)',
 'Sports(Volume)',
 'Sports (Value)',
 'Energy(Volume)',
 'Energy (Value)',
 'Water(Volume)',
 'Water (Value)']

In [0]:
def map_colum(x):
  print(x[0])
  print(x[1])
  print('return x2', x[2])
  return x[0]

In [0]:
df_sheet = pd.read_excel('/content/2020_01 By Brand数表 (2014～).xlsx', sheet_name='Sparkling (Value)', header=[0,1,2])
df_sheet.columns = df_sheet.columns.map(lambda x: str(x[0])+'_'+str(x[2]) if((x[0] != '') and (x[1] != '') and (x[2] != '')) else None)

In [0]:
df_sheet.columns

Index(['Value_Value', 'Value_Brand', '2014_Jan', '2014_Feb', '2014_Mar',
       '2014_Apr', '2014_May', '2014_Jun', '2014_Jul', '2014_Aug', '2014_Sep',
       '2014_Oct', '2014_Nov', '2014_Dec', '2015_Jan', '2015_Feb', '2015_Mar',
       '2015_Apr', '2015_May', '2015_Jun', '2015_Jul', '2015_Aug', '2015_Sep',
       '2015_Oct', '2015_Nov', '2015_Dec', '2016_Jan', '2016_Feb', '2016_Mar',
       '2016_Apr', '2016_May', '2016_Jun', '2016_Jul', '2016_Aug', '2016_Sep',
       '2016_Oct', '2016_Nov', '2016_Dec', '2017_Jan', '2017_Feb', '2017_Mar',
       '2017_Apr', '2017_May', '2017_Jun', '2017_Jul', '2017_Aug', '2017_Sep',
       '2017_Oct', '2017_Nov', '2017_Dec', '2018_Jan', '2018_Feb', '2018_Mar',
       '2018_Apr', '2018_May', '2018_Jun', '2018_Jul', '2018_Aug', '2018_Sep',
       '2018_Oct', '2018_Nov', '2018_Dec', '2019_Jan', '2019_Feb', '2019_Mar',
       '2019_Apr', '2019_May', '2019_Jun', '2019_Jul', '2019_Aug', '2019_Sep',
       '2019_Oct', '2019_Nov', '2019_Dec', '2020_Jan', '2020_Feb', '2020_Mar',
       '2020_Apr', '2020_May', '2020_Jun', '2020_Jul', '2020_Aug', '2020_Sep',
       '2020_Oct', '2020_Nov', '2020_Dec', '2020_Dec.1',
       '2014YTD_Unnamed: 87_level_2', '2015YTD_Unnamed: 88_level_2',
       '2016YTD_Unnamed: 89_level_2', '2017YTD_Unnamed: 90_level_2',
       '2018YTD_Unnamed: 91_level_2', '2019YTD_Unnamed: 92_level_2',
       '2020YTD_Unnamed: 93_level_2'],
      dtype='object')

In [0]:
df_sheet.drop(['2020_Dec.1',
       '2014YTD_Unnamed: 87_level_2', '2015YTD_Unnamed: 88_level_2',
       '2016YTD_Unnamed: 89_level_2', '2017YTD_Unnamed: 90_level_2',
       '2018YTD_Unnamed: 91_level_2', '2019YTD_Unnamed: 92_level_2',
       '2020YTD_Unnamed: 93_level_2'], axis=1, inplace=True)

In [0]:
df_sheet = df_sheet.fillna(method='ffill')

In [0]:
df_sheet

   Value_Value                  Value_Brand  ...  2020_Nov  2020_Dec
0           KO  COCA-COLA TM (excl. Energy)  ...       NaN       NaN
1           KO              Coca-Cola (RED)  ...       NaN       NaN
2           KO               Coca-Cola Zero  ...       NaN       NaN
3           KO               Coca-Cola Plus  ...       NaN       NaN
4           KO              Coca-Cola Other  ...       NaN       NaN
5           KO               Non-Cola Total  ...       NaN       NaN
6           KO                        Fanta  ...       NaN       NaN
7           KO                       Sprite  ...       NaN       NaN
8           KO                    Schweppes  ...       NaN       NaN
9           KO                Canada Dry TM  ...       NaN       NaN
10          KO                        Other  ...       NaN       NaN
11     Suntory                     Pepsi TM  ...       NaN       NaN
12     Suntory                Pepsi Special  ...       NaN       NaN
13     Suntory                 C.C.Lemon TM  ...       NaN       NaN
14     Suntory                Orangina TM *  ...       NaN       NaN
15     Suntory                         7-up  ...       NaN       NaN
16     Suntory                 Mountain Dew  ...       NaN       NaN
17     Suntory                        Other  ...       NaN       NaN
18       Kirin                      Mets TM  ...       NaN       NaN
19       Kirin                    Mets Cola  ...       NaN       NaN
20       Kirin                   Mets Other  ...       NaN       NaN
21       Asahi             Mitsuya Cider TM  ...       NaN       NaN
22       Asahi                    WILKINSON  ...       NaN       NaN
23       Other                        Other  ...       NaN       NaN
24       Other              Sparkling Total  ...       NaN       NaN

[25 rows x 86 columns]

In [0]:
a = ['Sparkling (Value)']
print(a[0].split('(')[1]).rstrip(')')

Value)

AttributeError: ignored

In [0]:
df_sheet = pd.melt(df_sheet, id_vars = ['Value_Value', 'Value_Brand'], var_name='Month')
df_sheet

     Value_Value                  Value_Brand     Month      value
0             KO  COCA-COLA TM (excl. Energy)  2014_Jan  12.285116
1             KO              Coca-Cola (RED)  2014_Jan   8.682304
2             KO               Coca-Cola Zero  2014_Jan   3.301321
3             KO               Coca-Cola Plus  2014_Jan   0.000000
4             KO              Coca-Cola Other  2014_Jan   0.301492
...          ...                          ...       ...        ...
1795       Kirin                   Mets Other  2019_Dec        NaN
1796       Asahi             Mitsuya Cider TM  2019_Dec        NaN
1797       Asahi                    WILKINSON  2019_Dec        NaN
1798       Other                        Other  2019_Dec        NaN
1799       Other              Sparkling Total  2019_Dec        NaN

[1800 rows x 4 columns]

In [0]:
new_cols = ['Maker', 'Brand']
df_sheet.rename(columns=dict(zip(df_sheet.columns[0:2], new_cols)),inplace=True)
df_sheet

      Maker                        Brand  ...  2019_Nov  2019_Dec
0        KO  COCA-COLA TM (excl. Energy)  ...       NaN       NaN
1        KO              Coca-Cola (RED)  ...       NaN       NaN
2        KO               Coca-Cola Zero  ...       NaN       NaN
3        KO               Coca-Cola Plus  ...       NaN       NaN
4        KO              Coca-Cola Other  ...       NaN       NaN
5        KO               Non-Cola Total  ...       NaN       NaN
6        KO                        Fanta  ...       NaN       NaN
7        KO                       Sprite  ...       NaN       NaN
8        KO                    Schweppes  ...       NaN       NaN
9        KO                Canada Dry TM  ...       NaN       NaN
10       KO                        Other  ...       NaN       NaN
11  Suntory                     Pepsi TM  ...       NaN       NaN
12  Suntory                Pepsi Special  ...       NaN       NaN
13  Suntory                 C.C.Lemon TM  ...       NaN       NaN
14  Suntory                Orangina TM *  ...       NaN       NaN
15  Suntory                         7-up  ...       NaN       NaN
16  Suntory                 Mountain Dew  ...       NaN       NaN
17  Suntory                        Other  ...       NaN       NaN
18    Kirin                      Mets TM  ...       NaN       NaN
19    Kirin                    Mets Cola  ...       NaN       NaN
20    Kirin                   Mets Other  ...       NaN       NaN
21    Asahi             Mitsuya Cider TM  ...       NaN       NaN
22    Asahi                    WILKINSON  ...       NaN       NaN
23    Other                        Other  ...       NaN       NaN
24    Other              Sparkling Total  ...       NaN       NaN

[25 rows x 74 columns]

In [0]:
final_arr = []
for sheet in sheetnames:
  df_sheet = pd.read_excel('/content/2020_01 By Brand数表 (2014～).xlsx', sheet_name=sheet, header=[0,1,2])
  df_sheet.columns = df_sheet.columns.map(lambda x: str(x[0])+'_'+str(x[2]) if((x[0] != '') and (x[1] != '') and (x[2] != '')) else None)
  df_sheet.drop(['2020_Dec.1',
       '2014YTD_Unnamed: 87_level_2', '2015YTD_Unnamed: 88_level_2',
       '2016YTD_Unnamed: 89_level_2', '2017YTD_Unnamed: 90_level_2',
       '2018YTD_Unnamed: 91_level_2', '2019YTD_Unnamed: 92_level_2',
       '2020YTD_Unnamed: 93_level_2'], axis=1, inplace=True)
  df_sheet = df_sheet.fillna(method='ffill')
  new_cols = ['Maker', 'Brand']
  df_sheet.rename(columns=dict(zip(df_sheet.columns[0:2], new_cols)),inplace=True)

  id_var_dyn = df_sheet.columns[0:2]
  df_sheet = pd.melt(df_sheet, id_vars = id_var_dyn, var_name='Month')
  df_sheet['Category'] = sheet.split('(')[0]
  df_sheet['metric'] = sheet.split('(')[1]
  df_sheet['metric'] = df_sheet['metric'].map(lambda x: x.rstrip(')'))
  print(df_sheet.head())
  final_arr.append(df_sheet)
  # pd.concat([final_arr, df_sheet])

  Maker                        Brand     Month     value   Category  metric
0    KO  COCA-COLA TM (excl. Energy)  2014_Jan  9.330557  Sparkling  Volume
1    KO              Coca-Cola (RED)  2014_Jan  6.103248  Sparkling  Volume
2    KO               Coca-Cola Zero  2014_Jan  3.136520  Sparkling  Volume
3    KO               Coca-Cola Plus  2014_Jan  0.000000  Sparkling  Volume
4    KO              Coca-Cola Other  2014_Jan  0.090788  Sparkling  Volume
  Maker                        Brand     Month      value    Category metric
0    KO  COCA-COLA TM (excl. Energy)  2014_Jan  12.285116  Sparkling   Value
1    KO              Coca-Cola (RED)  2014_Jan   8.682304  Sparkling   Value
2    KO               Coca-Cola Zero  2014_Jan   3.301321  Sparkling   Value
3    KO               Coca-Cola Plus  2014_Jan   0.000000  Sparkling   Value
4    KO              Coca-Cola Other  2014_Jan   0.301492  Sparkling   Value
     Maker    Brand     Month     value Category  metric
0       KO  GEORGIA  2014_Jan  9.782405   Coffee  Volume
1  Suntory     BOSS  2014_Jan  6.756149   Coffee  Volume
2    Kirin     FIRE  2014_Jan  1.380669   Coffee  Volume
3    Asahi    WONDA  2014_Jan  3.212105   Coffee  Volume
4    Itoen  TULLY'S  2014_Jan  0.000000   Coffee  Volume
     Maker    Brand     Month      value Category metric
0       KO  GEORGIA  2014_Jan  26.284594  Coffee   Value
1  Suntory     BOSS  2014_Jan  17.576252  Coffee   Value
2    Kirin     FIRE  2014_Jan   3.992973  Coffee   Value
3    Asahi    WONDA  2014_Jan   7.881772  Coffee   Value
4    Itoen  TULLY'S  2014_Jan   0.000000  Coffee   Value
     Maker        Brand     Month     value Category  metric
0       KO           MM  2014_Jan  1.760753    Juice  Volume
1       KO  Other Juice  2014_Jan  0.077409    Juice  Volume
2  Suntory      Natchan  2014_Jan  0.676460    Juice  Volume
3  Suntory        Other  2014_Jan  0.000000    Juice  Volume
4    Kirin    Tropicana  2014_Jan  0.424955    Juice  Volume
     Maker        Brand     Month     value Category metric
0       KO           MM  2014_Jan  4.033768   Juice   Value
1       KO  Other Juice  2014_Jan  0.142610   Juice   Value
2  Suntory      Natchan  2014_Jan  0.584223   Juice   Value
3  Suntory        Other  2014_Jan  0.000000   Juice   Value
4    Kirin    Tropicana  2014_Jan  0.818896   Juice   Value
  Maker                               Brand  ... Category  metric
0    KO                          Ayataka TM  ...      Tea  Volume
1    KO                    Ayataka Original  ...      Tea  Volume
2    KO    Ayataka Chaba no Amami + NigoriH  ...      Tea  Volume
3    KO    Ayataka Other (incl. Tokusencha)  ...      Tea  Volume
4    KO                               Huang  ...      Tea  Volume

[5 rows x 6 columns]
  Maker                               Brand     Month     value Category metric
0    KO                          Ayataka TM  2014_Jan  6.107054     Tea   Value
1    KO                    Ayataka Original  2014_Jan  6.107054     Tea   Value
2    KO    Ayataka Chaba no Amami + NigoriH  2014_Jan  0.000000     Tea   Value
3    KO    Ayataka Other (incl. Tokusencha)  2014_Jan  0.000000     Tea   Value
4    KO                               Huang  2014_Jan  0.437927     Tea   Value
     Maker         Brand     Month     value Category  metric
0       KO      Aquarius  2014_Jan  5.294533   Sports  Volume
1       KO         Other  2014_Jan  0.000000   Sports  Volume
2  Suntory  Green Dakara  2014_Jan  1.553426   Sports  Volume
3  Suntory         Other  2014_Jan  0.000000   Sports  Volume
4    Kirin         SUPLI  2014_Jan  0.000000   Sports  Volume
     Maker         Brand     Month     value Category metric
0       KO      Aquarius  2014_Jan  4.273343  Sports   Value
1       KO         Other  2014_Jan  0.000000  Sports   Value
2  Suntory  Green Dakara  2014_Jan  0.000000  Sports   Value
3  Suntory         Other  2014_Jan  0.000000  Sports   Value
4    Kirin         SUPLI  2014_Jan  0.000000  Sports   Value
     Maker             Brand     Month     value Category  metric
0       KO           Real TM  2014_Jan  0.349716   Energy  Volume
1       KO  Coca-Cola ENERGY  2014_Jan  0.000000   Energy  Volume
2  Suntory        Dekavita C  2014_Jan  0.618799   Energy  Volume
3    Asahi           Monster  2014_Jan  0.254012   Energy  Volume
4    Asahi         Dodecamin  2014_Jan  0.000000   Energy  Volume
     Maker             Brand     Month     value Category metric
0       KO           Real TM  2014_Jan  1.531791  Energy   Value
1       KO  Coca-Cola ENERGY  2014_Jan  0.000000  Energy   Value
2  Suntory        Dekavita C  2014_Jan  1.747277  Energy   Value
3    Asahi           Monster  2014_Jan  0.809986  Energy   Value
4    Asahi         Dodecamin  2014_Jan  0.000000  Energy   Value
  Maker                        Brand     Month     value Category  metric
0    KO                I Lohas Total  2014_Jan  3.927808    Water  Volume
1    KO              I Lohas (plain)  2014_Jan  2.431904    Water  Volume
2    KO    I Lohas Sparkling + Cider  2014_Jan  0.000000    Water  Volume
3    KO               I Lohas Flavor  2014_Jan  1.495903    Water  Volume
4    KO                   Morinomizu  2014_Jan  1.982568    Water  Volume
  Maker                        Brand     Month     value Category metric
0    KO                I Lohas Total  2014_Jan  4.053125   Water   Value
1    KO              I Lohas (plain)  2014_Jan  2.483708   Water   Value
2    KO    I Lohas Sparkling + Cider  2014_Jan  0.000000   Water   Value
3    KO               I Lohas Flavor  2014_Jan  1.569416   Water   Value
4    KO                   Morinomizu  2014_Jan  0.426065   Water   Value

In [0]:
final_arr

[      Maker                        Brand     Month     value   Category  metric
 0        KO  COCA-COLA TM (excl. Energy)  2014_Jan  9.330557  Sparkling  Volume
 1        KO              Coca-Cola (RED)  2014_Jan  6.103248  Sparkling  Volume
 2        KO               Coca-Cola Zero  2014_Jan  3.136520  Sparkling  Volume
 3        KO               Coca-Cola Plus  2014_Jan  0.000000  Sparkling  Volume
 4        KO              Coca-Cola Other  2014_Jan  0.090788  Sparkling  Volume
 ...     ...                          ...       ...       ...        ...     ...
 1795  Kirin                   Mets Other  2019_Dec       NaN  Sparkling  Volume
 1796  Asahi             Mitsuya Cider TM  2019_Dec       NaN  Sparkling  Volume
 1797  Asahi                    WILKINSON  2019_Dec       NaN  Sparkling  Volume
 1798  Other                        Other  2019_Dec       NaN  Sparkling  Volume
 1799  Other              Sparkling Total  2019_Dec       NaN  Sparkling  Volume

 [1800 rows x 6 columns],
       Maker                        Brand  ...    Category  metric
 0        KO  COCA-COLA TM (excl. Energy)  ...  Sparkling    Value
 1        KO              Coca-Cola (RED)  ...  Sparkling    Value
 2        KO               Coca-Cola Zero  ...  Sparkling    Value
 3        KO               Coca-Cola Plus  ...  Sparkling    Value
 4        KO              Coca-Cola Other  ...  Sparkling    Value
 ...     ...                          ...  ...         ...     ...
 1795  Kirin                   Mets Other  ...  Sparkling    Value
 1796  Asahi             Mitsuya Cider TM  ...  Sparkling    Value
 1797  Asahi                    WILKINSON  ...  Sparkling    Value
 1798  Other                        Other  ...  Sparkling    Value
 1799  Other              Sparkling Total  ...  Sparkling    Value

 [1800 rows x 6 columns],
        Maker         Brand     Month     value Category  metric
 0         KO       GEORGIA  2014_Jan  9.782405   Coffee  Volume
 1    Suntory          BOSS  2014_Jan  6.756149   Coffee  Volume
 2      Kirin          FIRE  2014_Jan  1.380669   Coffee  Volume
 3      Asahi         WONDA  2014_Jan  3.212105   Coffee  Volume
 4      Itoen       TULLY'S  2014_Jan  0.000000   Coffee  Volume
 ..       ...           ...       ...       ...      ...     ...
 499    Kirin          FIRE  2019_Dec       NaN   Coffee  Volume
 500    Asahi         WONDA  2019_Dec       NaN   Coffee  Volume
 501    Itoen       TULLY'S  2019_Dec       NaN   Coffee  Volume
 502    Other         Other  2019_Dec       NaN   Coffee  Volume
 503    Other  Coffee Total  2019_Dec       NaN   Coffee  Volume

 [504 rows x 6 columns],
        Maker         Brand     Month      value Category metric
 0         KO       GEORGIA  2014_Jan  26.284594  Coffee   Value
 1    Suntory          BOSS  2014_Jan  17.576252  Coffee   Value
 2      Kirin          FIRE  2014_Jan   3.992973  Coffee   Value
 3      Asahi         WONDA  2014_Jan   7.881772  Coffee   Value
 4      Itoen       TULLY'S  2014_Jan   0.000000  Coffee   Value
 ..       ...           ...       ...        ...      ...    ...
 499    Kirin          FIRE  2019_Dec        NaN  Coffee   Value
 500    Asahi         WONDA  2019_Dec        NaN  Coffee   Value
 501    Itoen       TULLY'S  2019_Dec        NaN  Coffee   Value
 502    Other         Other  2019_Dec        NaN  Coffee   Value
 503    Other  Coffee Total  2019_Dec        NaN  Coffee   Value

 [504 rows x 6 columns],
        Maker            Brand     Month     value Category  metric
 0         KO               MM  2014_Jan  1.760753    Juice  Volume
 1         KO      Other Juice  2014_Jan  0.077409    Juice  Volume
 2    Suntory          Natchan  2014_Jan  0.676460    Juice  Volume
 3    Suntory            Other  2014_Jan  0.000000    Juice  Volume
 4      Kirin        Tropicana  2014_Jan  0.424955    Juice  Volume
 ..       ...              ...       ...       ...      ...     ...
 787    Asahi        Bireley's  2019_Dec       NaN    Juice  Volume
 788   Kagome    Yasaiseikatsu  2019_Dec       NaN    Juice  Volume
 789   Kagome  Other vegetable  2019_Dec       NaN    Juice  Volume
 790    Other            Other  2019_Dec       NaN    Juice  Volume
 791    Other      Juice Total  2019_Dec       NaN    Juice  Volume

 [792 rows x 6 columns],
        Maker            Brand     Month     value Category metric
 0         KO               MM  2014_Jan  4.033768   Juice   Value
 1         KO      Other Juice  2014_Jan  0.142610   Juice   Value
 2    Suntory          Natchan  2014_Jan  0.584223   Juice   Value
 3    Suntory            Other  2014_Jan  0.000000   Juice   Value
 4      Kirin        Tropicana  2014_Jan  0.818896   Juice   Value
 ..       ...              ...       ...       ...      ...    ...
 787    Asahi        Bireley's  2019_Dec       NaN   Juice   Value
 788   Kagome    Yasaiseikatsu  2019_Dec       NaN   Juice   Value
 789   Kagome  Other vegetable  2019_Dec       NaN   Juice   Value
 790    Other            Other  2019_Dec       NaN   Juice   Value
 791    Other      Juice Total  2019_Dec       NaN   Juice   Value

 [792 rows x 6 columns],
       Maker                               Brand  ... Category  metric
 0        KO                          Ayataka TM  ...      Tea  Volume
 1        KO                    Ayataka Original  ...      Tea  Volume
 2        KO    Ayataka Chaba no Amami + NigoriH  ...      Tea  Volume
 3        KO    Ayataka Other (incl. Tokusencha)  ...      Tea  Volume
 4        KO                               Huang  ...      Tea  Volume
 ...     ...                                 ...  ...      ...     ...
 1723  Itoen    O-i Ocha (incl. Other Green Tea)  ...      Tea  Volume
 1724  Itoen                          Barley Tea  ...      Tea  Volume
 1725  Asahi                          Jyurokucha  ...      Tea  Volume
 1726  Other                               Other  ...      Tea  Volume
 1727  Other                           Tea Total  ...      Tea  Volume

 [1728 rows x 6 columns],
       Maker                               Brand  ... Category  metric
 0        KO                          Ayataka TM  ...     Tea    Value
 1        KO                    Ayataka Original  ...     Tea    Value
 2        KO    Ayataka Chaba no Amami + NigoriH  ...     Tea    Value
 3        KO    Ayataka Other (incl. Tokusencha)  ...     Tea    Value
 4        KO                               Huang  ...     Tea    Value
 ...     ...                                 ...  ...      ...     ...
 1723  Itoen    O-i Ocha (incl. Other Green Tea)  ...     Tea    Value
 1724  Itoen                          Barley Tea  ...     Tea    Value
 1725  Asahi                          Jyurokucha  ...     Tea    Value
 1726  Other                               Other  ...     Tea    Value
 1727  Other                           Tea Total  ...     Tea    Value

 [1728 rows x 6 columns],
        Maker         Brand     Month     value Category  metric
 0         KO      Aquarius  2014_Jan  5.294533   Sports  Volume
 1         KO         Other  2014_Jan  0.000000   Sports  Volume
 2    Suntory  Green Dakara  2014_Jan  1.553426   Sports  Volume
 3    Suntory         Other  2014_Jan  0.000000   Sports  Volume
 4      Kirin         SUPLI  2014_Jan  0.000000   Sports  Volume
 ..       ...           ...       ...       ...      ...     ...
 643    Kirin         SUPLI  2019_Dec       NaN   Sports  Volume
 644    Kirin         Other  2019_Dec       NaN   Sports  Volume
 645   Otsuka  Pocari Sweat  2019_Dec       NaN   Sports  Volume
 646    Other         Other  2019_Dec       NaN   Sports  Volume
 647    Other  Sports Total  2019_Dec       NaN   Sports  Volume

 [648 rows x 6 columns],
        Maker         Brand     Month     value Category metric
 0         KO      Aquarius  2014_Jan  4.273343  Sports   Value
 1         KO         Other  2014_Jan  0.000000  Sports   Value
 2    Suntory  Green Dakara  2014_Jan  0.000000  Sports   Value
 3    Suntory         Other  2014_Jan  0.000000  Sports   Value
 4      Kirin         SUPLI  2014_Jan  0.000000  Sports   Value
 ..       ...           ...       ...       ...      ...    ...
 643    Kirin         SUPLI  2019_Dec       NaN  Sports   Value
 644    Kirin         Other  2019_Dec       NaN  Sports   Value
 645   Otsuka  Pocari Sweat  2019_Dec       NaN  Sports   Value
 646    Other         Other  2019_Dec       NaN  Sports   Value
 647    Other  Sports Total  2019_Dec       NaN  Sports   Value

 [648 rows x 6 columns],
        Maker             Brand     Month     value Category  metric
 0         KO           Real TM  2014_Jan  0.349716   Energy  Volume
 1         KO  Coca-Cola ENERGY  2014_Jan  0.000000   Energy  Volume
 2    Suntory        Dekavita C  2014_Jan  0.618799   Energy  Volume
 3      Asahi           Monster  2014_Jan  0.254012   Energy  Volume
 4      Asahi         Dodecamin  2014_Jan  0.000000   Energy  Volume
 ..       ...               ...       ...       ...      ...     ...
 571    Asahi           Monster  2019_Dec       NaN   Energy  Volume
 572    Asahi         Dodecamin  2019_Dec       NaN   Energy  Volume
 573   Otsuka        Oronamin C  2019_Dec       NaN   Energy  Volume
 574    Other             Other  2019_Dec       NaN   Energy  Volume
 575    Other      Energy Total  2019_Dec       NaN   Energy  Volume

 [576 rows x 6 columns],
         Maker             Brand     Month     value Category metric
 0          KO           Real TM  2014_Jan  1.531791  Energy   Value
 1          KO  Coca-Cola ENERGY  2014_Jan  0.000000  Energy   Value
 2     Suntory        Dekavita C  2014_Jan  1.747277  Energy   Value
 3       Asahi           Monster  2014_Jan  0.809986  Energy   Value
 4       Asahi         Dodecamin  2014_Jan  0.000000  Energy   Value
 ...       ...               ...       ...       ...      ...    ...
 1867    Other      Energy Total  2019_Dec       NaN  Energy   Value
 1868    Other      Energy Total  2019_Dec       NaN  Energy   Value
 1869    Other      Energy Total  2019_Dec       NaN  Energy   Value
 1870    Other      Energy Total  2019_Dec       NaN  Energy   Value
 1871    Other      Energy Total  2019_Dec       NaN  Energy   Value

 [1872 rows x 6 columns],
       Maker                        Brand     Month     value Category  metric
 0        KO                I Lohas Total  2014_Jan  3.927808    Water  Volume
 1        KO              I Lohas (plain)  2014_Jan  2.431904    Water  Volume
 2        KO    I Lohas Sparkling + Cider  2014_Jan  0.000000    Water  Volume
 3        KO               I Lohas Flavor  2014_Jan  1.495903    Water  Volume
 4        KO                   Morinomizu  2014_Jan  1.982568    Water  Volume
 ...     ...                          ...       ...       ...      ...     ...
 1147  Kirin             Alkali Ion Water  2019_Dec       NaN    Water  Volume
 1148  Asahi                  Oishii-mizu  2019_Dec       NaN    Water  Volume
 1149  Asahi                        Other  2019_Dec       NaN    Water  Volume
 1150  Other                        Other  2019_Dec       NaN    Water  Volume
 1151  Other                  Water Total  2019_Dec       NaN    Water  Volume

 [1152 rows x 6 columns],
       Maker                        Brand     Month     value Category metric
 0        KO                I Lohas Total  2014_Jan  4.053125   Water   Value
 1        KO              I Lohas (plain)  2014_Jan  2.483708   Water   Value
 2        KO    I Lohas Sparkling + Cider  2014_Jan  0.000000   Water   Value
 3        KO               I Lohas Flavor  2014_Jan  1.569416   Water   Value
 4        KO                   Morinomizu  2014_Jan  0.426065   Water   Value
 ...     ...                          ...       ...       ...      ...    ...
 1147  Kirin             Alkali Ion Water  2019_Dec       NaN   Water   Value
 1148  Asahi                  Oishii-mizu  2019_Dec       NaN   Water   Value
 1149  Asahi                        Other  2019_Dec       NaN   Water   Value
 1150  Other                        Other  2019_Dec       NaN   Water   Value
 1151  Other                  Water Total  2019_Dec       NaN   Water   Value

 [1152 rows x 6 columns]]

In [0]:
final_csv = pd.concat(final_arr)

In [0]:
final_csv.to_csv('/content/2020_01_ByBrand_processed.csv')

In [0]:
df = pd.ExcelFile('/content/202001_3軸数表.xls')
sheetnames = df.sheet_names
sheetnames

['3軸UC', 'UC前年比', '3軸Value', '3軸Value前年比']

In [0]:
df_cat = pd.read_excel('/content/202001_3軸数表.xls', sheet_name='3軸Value', skiprows=2)
df_cat.head()

   階層        Channel  Maker  ...      1.18      1.19      1.20
0   0  Total_Channel  メーカー計  ... -3.153572 -1.876965 -0.867599
1   2  Total_Channel  メーカー計  ... -2.235351  0.837093  1.619737
2   2  Total_Channel  メーカー計  ... -3.201227 -5.956369 -4.872910
3   2  Total_Channel  メーカー計  ...  6.185877  0.548105  0.629284
4   2  Total_Channel  メーカー計  ... -3.681241 -2.550055  0.598805

[5 rows x 76 columns]

In [0]:
df_cat.columns

Index([         '階層',     'Channel',       'Maker',    'Category',
           '確定Value',      '201701',        201702,        201703,
              201704,        201705,        201706,        201707,
              201708,        201709,        201710,        201711,
              201712,        201801,        201802,        201803,
              201804,        201805,        201806,        201807,
              201808,        201809,        201810,        201811,
              201812,        201901,        201902,        201903,
              201904,        201905,        201906,        201907,
              201908,        201909,        201910,        201911,
              201912,        202001,        202002,        202003,
              202004,        202005,        202006,        202007,
              202008,        202009,        202010,        202011,
              202012, 'Unnamed: 53',   '確定Value.1',             1,
               '1.1',         '1.2',         '1.3',         '1.4',
               '1.5',         '1.6',         '1.7',         '1.8',
               '1.9',        '1.10',        '1.11',        '1.12',
              '1.13',        '1.14',        '1.15',        '1.16',
              '1.17',        '1.18',        '1.19',        '1.20'],
      dtype='object')

In [0]:
df_cat.drop(['Unnamed: 53',   '確定Value.1',             1,
               '1.1',         '1.2',         '1.3',         '1.4',
               '1.5',         '1.6',         '1.7',         '1.8',
               '1.9',        '1.10',        '1.11',        '1.12',
              '1.13',        '1.14',        '1.15',        '1.16',
              '1.17',        '1.18',        '1.19',        '1.20'], axis=1, inplace=True)

In [0]:
df_cat.head()

   階層        Channel  Maker   Category  ... 202009  202010  202011  202012
0   0  Total_Channel  メーカー計          0  ...    NaN     NaN     NaN     NaN
1   2  Total_Channel  メーカー計  Sparkling  ...    NaN     NaN     NaN     NaN
2   2  Total_Channel  メーカー計     Coffee  ...    NaN     NaN     NaN     NaN
3   2  Total_Channel  メーカー計      Juice  ...    NaN     NaN     NaN     NaN
4   2  Total_Channel  メーカー計  Tea Total  ...    NaN     NaN     NaN     NaN

[5 rows x 53 columns]

In [0]:
df_cat = pd.melt(df_cat, id_vars = ['階層',     'Channel',       'Maker',    'Category',
           '確定Value'], var_name='Date')

In [0]:
df_cat

       階層        Channel  Maker   Category          確定Value    Date       value
0       0  Total_Channel  メーカー計          0    Total_Channel  201701  327.445398
1       2  Total_Channel  メーカー計  Sparkling        Sparkling  201701   51.746271
2       2  Total_Channel  メーカー計     Coffee           Coffee  201701   81.330525
3       2  Total_Channel  メーカー計      Juice            Juice  201701   36.640072
4       2  Total_Channel  メーカー計  Tea Total        Tea Total  201701   82.587708
...    ..            ...    ...        ...              ...     ...         ...
25483   3         OTHER計    その他  Tea Total        Tea Total  202012         NaN
25484   3         OTHER計    その他     Sports           Sports  202012         NaN
25485   3         OTHER計    その他     Energy           Energy  202012         NaN
25486   3         OTHER計    その他      Water            Water  202012         NaN
25487   3         OTHER計    その他      Other            Other  202012         NaN

[25488 rows x 7 columns]

In [0]:
df_cat.shape

(25488, 7)

In [0]:
df_cat.to_excel('/content/202001_3_processed_Value.xlsx')

In [0]:
pd.read_csv('/content/201910_3軸数表_v2_processed_UC.csv')

       Unnamed: 0  階層  ...    Date               value
0               0   0  ...  201601  214.69741732659693
1               1   2  ...  201601   32.12772675982991
2               2   2  ...  201601  32.481600256870365
3               3   2  ...  201601  22.315242854733636
4               4   2  ...  201601   61.95092272201698
...           ...  ..  ...     ...                 ...
25483       25483   3  ...  201912                 NaN
25484       25484   3  ...  201912                 NaN
25485       25485   3  ...  201912                 NaN
25486       25486   3  ...  201912                 NaN
25487       25487   3  ...  201912                 NaN

[25488 rows x 8 columns]

In [0]:
df = pd.ExcelFile("/content/Long Term Category Value  Volume - Jan'15 to Nov'19 - AI TT  States.xlsx")
sheetnames = df.sheet_names
sheetnames

['Pivot', 'Data']

In [0]:
df_sheet = pd.read_excel("/content/Long Term Category Value  Volume - Jan'15 to Nov'19 - AI TT  States.xlsx", sheet_name='Data')

In [0]:
df_sheet

              MARKETS                    PRODUCTS  ...         OCT19         NOV19
0      All India - TT              Core Sparkling  ...  7.512454e+07  6.267860e+07
1      All India - TT          CCI Core Sparkling  ...  4.839087e+07  4.059656e+07
2      All India - TT                   F&V + J&N  ...  1.710785e+07  1.408941e+07
3      All India - TT               CCI F&V + J&N  ...  7.230806e+06  5.942905e+06
4      All India - TT      RW (Exc. Bulk & Pouch)  ...  5.614535e+07  4.986374e+07
..                ...                         ...  ...           ...           ...
259  West Bengal - TT          CCI Core Sparkling  ...  9.958767e+05  6.487525e+05
260  West Bengal - TT                   F&V + J&N  ...  4.975514e+05  3.305828e+05
261  West Bengal - TT               CCI F&V + J&N  ...  2.339381e+05  1.526826e+05
262  West Bengal - TT      RW (Exc. Bulk & Pouch)  ...  4.059898e+05  3.134047e+05
263  West Bengal - TT  CCI RW (Exc. Bulk & Pouch)  ...  6.494345e+04  4.465826e+04

[264 rows x 62 columns]

In [0]:
df_sheet.head()

          MARKETS                PRODUCTS  ...         OCT19         NOV19
0  All India - TT          Core Sparkling  ...  7.512454e+07  6.267860e+07
1  All India - TT      CCI Core Sparkling  ...  4.839087e+07  4.059656e+07
2  All India - TT               F&V + J&N  ...  1.710785e+07  1.408941e+07
3  All India - TT           CCI F&V + J&N  ...  7.230806e+06  5.942905e+06
4  All India - TT  RW (Exc. Bulk & Pouch)  ...  5.614535e+07  4.986374e+07

[5 rows x 62 columns]

In [0]:
df_cat = pd.melt(df_sheet, id_vars = ['MARKETS',	'PRODUCTS',	'FACTS'], var_name='Date')

In [0]:
df_cat

                MARKETS                    PRODUCTS  ...   Date         value
0        All India - TT              Core Sparkling  ...  JAN15  3.566446e+07
1        All India - TT          CCI Core Sparkling  ...  JAN15  2.160670e+07
2        All India - TT                   F&V + J&N  ...  JAN15  6.383454e+06
3        All India - TT               CCI F&V + J&N  ...  JAN15  2.952762e+06
4        All India - TT      RW (Exc. Bulk & Pouch)  ...  JAN15  2.161640e+07
...                 ...                         ...  ...    ...           ...
15571  West Bengal - TT          CCI Core Sparkling  ...  NOV19  6.487525e+05
15572  West Bengal - TT                   F&V + J&N  ...  NOV19  3.305828e+05
15573  West Bengal - TT               CCI F&V + J&N  ...  NOV19  1.526826e+05
15574  West Bengal - TT      RW (Exc. Bulk & Pouch)  ...  NOV19  3.134047e+05
15575  West Bengal - TT  CCI RW (Exc. Bulk & Pouch)  ...  NOV19  4.465826e+04

[15576 rows x 5 columns]

In [0]:
df_cat.to_excel('LongTermCategoryValueVolume_processed.xlsx')

In [0]:
df = df_sheet[:114].T
df_columns = df.iloc[0]
df_columns

0         Medium
1      Geography
2           Brand
3          Target
4        Campaign
          ...
109          6.19
110          7.19
111          8.19
112          9.19
113         10.19
Name: 0, Length: 114, dtype: object

In [0]:
df_final = df.rename(columns=df_columns)
df_final1 = df_final[1:]

In [0]:
df = df.T[1:]
df.rename(columns=heads)

     Medium  Geography       Brand  ...   Copy            Unit    Dating
1     TVMain   Pakistan       Coke  ...  Total  Net Local Money  Monthly
2     TVMain   Pakistan      Fanta  ...  Total  Net Local Money  Monthly
3     TVMain   Pakistan     Sprite  ...  Total  Net Local Money  Monthly
4     TVMain   Pakistan  Sprite 3G  ...  Total  Net Local Money  Monthly
5    TVPromo   Pakistan       Coke  ...  Total  Net Local Money  Monthly
..       ...        ...        ...  ...    ...              ...      ...
168    Print   Pakistan      Fanta  ...  Total  Net Local Money  Monthly
169    Print   Pakistan     Sprite  ...  Total  Net Local Money  Monthly
170  Outdoor   Pakistan       Coke  ...  Total  Net Local Money  Monthly
171  Outdoor   Pakistan      Fanta  ...  Total  Net Local Money  Monthly
172  Outdoor   Pakistan     Sprite  ...  Total  Net Local Money  Monthly

[172 rows x 8 columns]

In [0]:
df_extra = df_sheet[8:114]
df_final = df_extra.T
df_final

          8            9         10   ...          111          112          113
0       01.11        02.11     03.11  ...         8.19         9.19        10.19
1    15403000  1.49256e+07  13825000  ...  3.57122e+07  2.25853e+07  4.29589e+07
2           0            0   9654319  ...            0            0            0
3           0      4255504  17494546  ...  2.80445e+07  1.39287e+07  4.76173e+06
4           0            0  14538501  ...            0            0            0
..        ...          ...       ...  ...          ...          ...          ...
168       NaN          NaN       NaN  ...          NaN          NaN          NaN
169       NaN          NaN       NaN  ...          NaN          NaN          NaN
170       NaN          NaN       NaN  ...            0  1.69992e+07  7.50657e+07
171       NaN          NaN       NaN  ...          NaN          NaN          NaN
172       NaN          NaN       NaN  ...  2.70531e+06            0            0

[173 rows x 106 columns]

In [0]:
heads_f = df_final[0:1][0]
df_final= df_final[1:]
df_final.rename(columns=heads_f)
# df_final[0:1]

KeyError: ignored

In [0]:
word = 'GeeksforGeeks'
unique = []
nonunique = []
for a in word:
  if a not in unique:
    unique.append(a)
  else:
    if a not in nonunique:
      nonunique.append(a)

for b in unique:
    if b not in nonunique:
        print(b)
        break

f

In [0]:
# for a in word:
#   count_v = word.count(a)
#   if count_v == 1:
#     print(a)
#     break

In [0]:
# Function to rotate a matrix 
def rotateMatrix(mat): 
  
    if not len(mat): 
        return
      
    """ 
        top : starting row index 
        bottom : ending row index 
        left : starting column index 
        right : ending column index 
    """
  
    top = 0
    bottom = len(mat)-1
  
    left = 0
    right = len(mat[0])-1
  
    while left < right and top < bottom: 
  
        # Store the first element of next row, 
        # this element will replace first element of 
        # current row 
        prev = mat[top+1][left] 
  
        # Move elements of top row one step right 
        for i in range(left, right+1): 
            curr = mat[top][i] 
            mat[top][i] = prev 
            prev = curr 
  
        top += 1
  
        # Move elements of rightmost column one step downwards 
        for i in range(top, bottom+1): 
            curr = mat[i][right] 
            mat[i][right] = prev 
            prev = curr 
  
        right -= 1
  
        # Move elements of bottom row one step left 
        for i in range(right, left-1, -1): 
            curr = mat[bottom][i] 
            mat[bottom][i] = prev 
            prev = curr 
  
        bottom -= 1
  
        # Move elements of leftmost column one step upwards 
        for i in range(bottom, top-1, -1): 
            curr = mat[i][left] 
            mat[i][left] = prev 
            prev = curr 
  
        left += 1
  
    return mat

In [0]:
# Utility Function 
def printMatrix(mat): 
    for row in mat: 
        print(row)
  
  
# Test case 1 
matrix =[  
            [1,  2,  3,  4 ], 
            [5,  6,  7,  8 ], 
            [9,  10, 11, 12 ], 
            [13, 14, 15, 16 ]   
        ] 
# Test case 2 
""" 
matrix =[ 
            [1, 2, 3], 
            [4, 5, 6], 
            [7, 8, 9] 
        ] 
"""
  
matrix = rotateMatrix(matrix) 
# Print modified matrix 
printMatrix(matrix)

[5, 1, 2, 3]
[9, 10, 6, 4]
[13, 11, 7, 8]
[14, 15, 16, 12]

Given two arrays a and b write a function comp(a, b) (compSame(a, b) in Clojure) that checks whether the two arrays have the "same" elements, with the same multiplicities. "Same" means, here, that the elements in b are the elements in a squared, regardless of the order.

Examples
Valid arrays

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]
comp(a, b) returns true because in b 121 is the square of 11, 14641 is the square of 121, 20736 the square of 144, 361 the square of 19, 25921 the square of 161, and so on. It gets obvious if we write b's elements in terms of squares:

a = [121, 144, 19, 161, 19, 144, 19, 11] 
b = [11*11, 121*121, 144*144, 19*19, 161*161, 19*19, 144*144, 19*19]
Invalid arrays
If we change the first number to something else, comp may not return true anymore:

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [132, 14641, 20736, 361, 25921, 361, 20736, 361]
comp(a,b) returns false because in b 132 is not the square of any number of a.

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 36100, 25921, 361, 20736, 361]
comp(a,b) returns false because in b 36100 is not the square of any number of a.

In [0]:
a = [121, 144, 19, 161, 19, 144, 19, 11]
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]
final =[]
def comp(a, b):
  for i in b:
    final1 = [True if x%2==0 else False for x in b for y in a ]
    print(final1)
    if final1 == True:
      final.append(final1)
  return final

In [0]:
def comp1(a, b):
  for j in b:
    for i in a:
      if j%i == 0:
        out = True
        print(out)
      else:
        out = False

In [0]:
comp(a ,b)

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]
[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, False, False, False, False, False, False, False, False]

[]

In [0]:
a6 = [121, 144, 19, 161, 144, 11]
b6 = [121, 14641, 20736, 361, 25921, 361, 20736, 361]
final =[]
def comp(a, b):
  # for i in a:
  out = [x*x for x in a]
  out.sort()
  b.sort()
  if out == b:
    print('same')
  else:
    print('not same')

  return out

In [0]:
comp(a6, b6)

0
same
1
same
2
same
3
same
4
same
5
same

[14641, 20736, 361, 25921, 20736, 121]

In [0]:
a6 = [121, 144, 19, 161, 144, 11]
b6 = [121, 14641, 20736, 361, 25921, 361, 20736, 361]
final =[]
def comp(a, b):
  out = [x*x for x in a]
  for idx,item in enumerate(out):
    print(idx)
    if item in b:
      print('same')
    else:
      print('not same')

  return out

In [0]:
len(a6)

6